name: Lab CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      # --- ГОЛОВНЕ ---
      - name: Install Playwright globally
        run: npm install -g playwright@latest

      - name: Install Playwright browsers
        run: playwright install --with-deps

      # --- ТЕСТИ ---
      - name: Run tests
        run: npm test
